/*
    As described at (but with major modifications & improvements) - 

        https://www.w3schools.com/howto/howto_js_scroll_to_top.asp

    To Do:
        1) improve responsiveness
        2) option - fade in/out as page is scrolled down/up from
           the top to where it appears (see totop.js)
*/
.gototop {
    display: none;          /* Hidden by default */
    position: fixed;        /* Fixed/sticky position */

    bottom: 5%;             /* Place the button at the bottom of the page */
    right: 2%;              /* Place the button 30px from the right */
    margin-bottom: 5%;

    /* placement and colors */
    z-index: 99;            /* Make sure it does not overlap */
    border: none;           /* Remove borders */
    outline: none;          /* Remove outline */
    background-color: red;  /* Set a background color */
    color: white;           /* Text color */
    cursor: pointer;        /* Add a mouse pointer on hover */

    /* circle */
    height: 3.5em;
    width: 3.5em;
    border-radius: 50%;

    /* effect */
    opacity: 0.75;              /* allow content to show through */
    filter: alpha(opacity=75);  /* For IE8 and earlier */
}

.gototop:hover {
    background-color: #555;     /* Add a dark-grey background on hover */
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

